*{
	box-sizing: border-box;
}
body{
	/*background-image: url(modeles/img/background.jpg);*/
	background-size: 50%;
	background-image: url("../modeles/img/background.jpg");
	height: 100vh;
}
.content{
	padding-left: 25%;
	margin: 0 auto;
	padding-top: 17.3%;
}
#secondaire .block{
	display: none;
}
.containerr{
	position: relative;
	width: 252px;
	margin :auto;
	padding-top: 10%;
}
.place{
  margin: 3.25%;
	padding: 2%;
}
.place a{
	text-decoration: none;
	color:black;
}
.block{
}
.visage, .yeux, .nez, .bouche{
	position: absolute;
}
.visage{
	z-index: 1;
}
.firstColumn .buttonCheck{
	display: none;
}
#bouton{
  width: 84%;
}
.yeux{
	z-index: 4;
	/*top:50px;
	right: 119px;*/
}
.nez{
	z-index: 3;
	/*top:48px;
	right: 118px;*/
}
.bouche{
	z-index: 2;
	/*top:49px;
	right: 115px;*/
}
img{
	height: auto;
	width: 250px;
}
.formsave{
	display: none;
	position: absolute;
  top: 199px;
  right: 554px;
  margin-top: 41px;
}
.firstColumn{
	display: inline-block;
  width: 202px;
  line-height: 35px;
}
.secondColumn{
	display: inline-block;
  width: 202px;
  line-height: 35px;
}
.divBorder{
	background-color: white;
	border: solid 1px black;
}
.buttonCheck{
	width: 177px;
	border: solid 2px black;
}
label{
	width: 33px;
	display: block;
}
section{
	height: 339px;
}
#labelName{
	width: 150px;
  margin-left: 2px;
	text-transform: uppercase;
}
.labelAttr{
	text-transform: uppercase;
	margin-bottom: -12px;
}
input[name="nom"]{
	width: 377px;
	border: solid 2px black;
	margin-bottom: 10px;
}
select{
	border: solid 2px black;
}
#title{
	text-align: center;
}
.block{
	display: block;
}
.none{
	display: none;
}
.return{
	text-decoration: none;
	position: relative;
  top: 17px;
  right: 77px;
  border: solid 2px black;
  padding: 3px 7px 3px 7px;
  z-index: 5;
}
.option{
	width: 100%;
}
